@using PhotoProject.Models;
@{
    ViewBag.Title = "Index";    
}

<h2>Edit gallery</h2>

@using (Html.BeginForm("Upload", "EditGallery", new { id = (@Request.Url.Segments[Request.Url.Segments.Length - 1] != "EditGallery") ? @Request.Url.Segments[Request.Url.Segments.Length - 1] : string.Empty }, FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="fileUpload btn btn-primary">
            <span>Select file</span>
            <input type="file" id="uploadBox" name="file" class="upload" />
        </div>

        <div id="uploadDiv" class="fileUpload btn btn-primary">
            <span>Upload</span>
            <input type="submit" id="uploadFile" value="Upload" class="upload" />
        </div>
       
    </fieldset>

    Html.RenderPartial("~/Views/EditGallery/_ImageItem.cshtml");
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>  
    $(document).ready(function () {
        $('#uploadDiv').hide();
    });

    $('#uploadBox').change(function () {
        if ($('#uploadBox').val() != "") {
            $('#uploadDiv').show();
        }
        else {
            $('#uploadDiv').hide();
        }
    });

</script>