@using PhotoProject.Models;
@{
    ViewBag.Title = "Prezentare";
    Layout = "~/Views/Shared/_GalleryLayout.cshtml";
    ImageModel[] MenuModel = ViewBag.LayoutModel;
}
<div id="divContent">
    <div class="container" style="margin: 30px">
        <div class="row">
            <div class="col-sm-9">
                <div class="row" style="background-color: #101010; color: white; text-align: center">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="row" style="background-color: wheat; padding: 25px; text-align: left">
                    <p>Pasiunea mea pentru fotografie a inceput in urma cu cativa ani, cand dupa achizitionarea primului meu aparat am inceput sa imi doresc sa fotografiez situatii cat mai inedite, complexe, si sa imprim o viziune artistica in orice fotografiam: apusuri, flori, masini, portrete, etc. Am ales sa fac fotografie de eveniment deoarece imi place sa surprind emotia fiecarui moment.</p>
                    <p><strong>Servicii oferite:</strong></p>
                    <p>- Fotografie de Eveniment: nunti, botezuri, aniversari, cursuri festive, banchete, baluri, prezentari de moda, disco party, reportaje, etc.</p>
                    <p>- Fotografie de Portret: portrete de studio cu lumini si accesorii mobile in locatii indoor sau outdoor, fotografii instantanee sau regizate, in stil glamour.</p>
                    <p>- Fotografie Publicitara: folosind lumini si accesorii de studio speciale pentru fotografierea de produs, sau de interior.</p>
                    <p>- Montaje Video: prelucrarea artistica a filmarii, realizarea unui scurt montaj, cu treceri si animatii profesionale, toate pe un fundal sonor placut.</p>
                    <p>- Albume Digitale: realizarea unui design de album digital tip foto-carte, ce urmeaza a fi tiparit in diverse marimi si formate; colajele foto se pot realiza din fotografii alese si prelucrate de noi, sau impreuna cu dvs, dupa cerintele dvs.</p>
                    <p>- SlideShow: selectie cu cele mai frumoase poze alese de noi sau de dvs, fotografii ce se succed printr-o tranzitie cinematografica, si ruleaza pe un fundal melodic placut, care de asemenea poate fi ales de noi sau de dvs.</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="fb-like-box" style="background-color: #101010; height: auto" data-href="https://www.facebook.com/pages/Its-All-About-Moments/826036747434571?pnref=lhc.recent" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
            </div>
        </div>
    </div>
</div>
