@using PhotoProject.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_GalleryLayout.cshtml";
    ImageModel[] MenuModel = ViewBag.LayoutModel;
}

<div id="divContent" style="background-color: wheat; padding: 15px">
    <div class="jumbotron" style="background-color: #101010; color: #999">
        <h2><strong>PhotoGer</strong></h2>
        <h2><i>It's all about moments</i></h2>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-md-4">
            <h3>Ted Grant</h3>
            <p>
                “Când fotografiezi oamenii color, le surprinzi hainele. Când îi fotografiezi în alb-negru, le surprinzi sufletele!”
            </p>
        </div>
        <div class="col-md-4">
            <h3>Henri Cartier-Bresson</h3>
            <p>“De fapt, nu este fotografia în sine cea care mă interesează. Ceea ce vreau eu, este să prind o fracţiune de secundă de realitate.”</p>
        </div>
        <div class="col-md-4">
            <h3>Aman Verma</h3>
            <p>“Photography is the best way, where you can SAVE your sweet PAST.”</p>
        </div>
    </div>
</div>
