@model string[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetGalleries</title>
</head>
<body>
    <div>
        <script>
            
        </script>



    </div>
</body>
</html>
