@model string[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetGalleries</title>
</head>
<body>
    <div> 
        <script>
            @*alert(@Model.Length)
            
            for (var i = 0; i < '@Model.Length'; i++) {
                //sum += obj[item];
                alert('@Model[i]');
            }*@
        </script>


        
    </div>
</body>
</html>
